<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495497021136-th674ku099gjhk20htcm7di02ca3ia73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495497021136-th674ku099gjhk20htcm7di02ca3ia73</string>
	<key>API_KEY</key>
	<string>AIzaSyBhuic_fFtT9EyaftBMnoFL8-gasqPuafg</string>
	<key>GCM_SENDER_ID</key>
	<string>495497021136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.productivityapp.consistly</string>
	<key>PROJECT_ID</key>
	<string>consistly-89b45</string>
	<key>STORAGE_BUCKET</key>
	<string>consistly-89b45.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495497021136:ios:aba43682b9ccad5bc740d5</string>
</dict>
</plist>